* {
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

*:hover {
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  height: 100vh;
  width: 100%;
  color: #ffffff;

  background: url(../img/Фон\ 1.png) center/cover no-repeat;
}

[class*="-container"] {
  margin: 0 auto;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 18px 79px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 a {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;

  color: #ffffff;
}

h1 a:hover {
  color: #01813f;
}

.top-menu {
  display: flex;
  align-items: center;
}

.icon-top-menu a svg {
  margin-right: 25px;
}

.icon-top-menu a:hover svg path {
  fill: #01813f;
  transition: 0.5s;
}

.link-top-menu {
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.link-top-menu a:hover {
  color: #01813f;
}

.form-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  color: #848484;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 444px / 2);
  top: calc(50% - 584px / 2 + 19px);
  padding: 32px 60px 38px;
  width: 444px;
  height: 584px;

  color: #434343;

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form hr {
  width: 148px;
  height: 0px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.green-square {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;

  background: #3cb878;
}

.title-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.title-form a {
  color: #3cb878;
}

.title-form a:hover {
  text-decoration: underline;
}

.login-button {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 16px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 12px 27px 12px 16px;
  width: 160px;
  height: 48px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.facebook {
  background: #305db8;
}

.facebook:hover {
  background: #022263;
}

.google {
  background: #df4a32;
}

.google:hover {
  background: #ab1f09;
}

input {
  margin-top: 15px;
  width: 324px;
  height: 44px;
  padding: 15px 20px;

  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

::placeholder {

color: rgba(190, 190, 190, 1);
}

input:first-child {
  margin-top: 12px;
}

form input:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

label {
  display: block;
  margin-top: 15px;
}

.check {
  display: none;
}

.fake-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: relative;
}

.fake-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  background: url(/img/checkbox.svg) center/cover no-repeat;
  opacity: 0;
  transition: 0.2s;
}

.check:checked + .fake-box::before {
  opacity: 1;
}

.agree {
  display: inline-block;
  position: absolute;
  margin: 3px 8px;
}

form label a {
  color: rgba(60, 184, 120, 1);
}

form label a:hover {
  text-decoration: underline;
}

.button-create {
  margin-top: 20px;
  width: 324px;
  height: 46px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;

  background: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
}

.button-create:hover {
  background: #01813f;
}
